<ion-header>
  <ion-toolbar>
     <ion-button slot="start" color="light" routerLink="/login">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
     <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input [(ngModel)]="fullName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="create()">Sign Up</ion-button>  
    <ion-button expand="full" color="medium" routerLink="/login">Already have an Account</ion-button>  
  </div>
 
</ion-content>