<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
     <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" routerLink="/dashboard">Sign Up</ion-button>  
    <ion-button expand="full" color="medium" routerLink="/login">Already have an Account</ion-button>  
  </div>
 
</ion-content>