<ion-header>
  <ion-toolbar>

    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card routerLink="/product">
      <ion-card-header>
        <ion-card-title>Products</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Find and buy products
      </ion-card-content>
    </ion-card>

     <ion-card routerLink="/location">
      <ion-card-header>
        <ion-card-title>My Location</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Find your location
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>