.container{
    width: 100%;
    height: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4DK_JgMgdDRAEqNNhFsO_rnGqrdQDKKDJXw&s") no-repeat center center fixed;
    background-size: contain;
    flex-direction: column;
}